<app-navbar></app-navbar>
<div class="container">
    <div class="dic">
        <div class="buspin">
            <div class="busap">
                <h1>Bus Number</h1>
                <h2>AP XXXX</h2>
            </div>
            <div class="pin">
                <h1>Name : XXXXXXXXXXXX</h1>
            </div>
        </div>
        <div class="seatnumber">
            <h1>Seat</h1>
            <h1>Number</h1>
        </div>
    </div>
    <div class="yearcourse">
        <div class="year">
            <h1>Date : XXXX</h1>
        </div>
        <div class="course">
            <h1>Time : XXXX</h1>
        </div>
    </div>
    <!-- <div class="branchseaction">
        <div class="branch">
            <h1>Branch : XXXX</h1>
        </div>
        <div class="seaction">
            <h1>Seaction : XXXX</h1>
        </div>
    </div> -->
    <div class="form">
        <h1>Email : XXXXXXXXXXXXXXXXXXXXX</h1>
    </div>
</div>