<app-navbar></app-navbar>
<app-search></app-search>
<div class="Container">
    <div class="col">
        <a  routerLink="/seatselection">
        <div class="row">
            <h1>Rajahumdry to kakinada</h1>
            <p>AP XXXX</p>
        </div>
        </a>
        <a  routerLink="/seatselection">
        <div class="row">
            <h1>Rajahumdry to kakinada</h1>
            <p>AP XXXX</p>
        </div>
    </a>
        <a  routerLink="/seatselection">
        <div class="row">
            <h1>Rajahumdry to kakinada</h1>
            <p>AP XXXX</p>
        </div>
    </a>
    </div>
    <div class="col">
        <a  routerLink="/seatselection">
        <div class="row">
            <h1>Rajahumdry to kakinada</h1>
            <p>AP XXXX</p>
        </div>
    </a>
        <a  routerLink="/seatselection">
        <div class="row">
            <h1>Rajahumdry to kakinada</h1>
            <p>AP XXXX</p>
        </div>
    </a>
        <a  routerLink="/seatselection">
        <div class="row">
            <h1>Rajahumdry to kakinada</h1>
            <p>AP XXXX</p>
        </div>
    </a>
    </div>
    <div class="col">
        <a  routerLink="/seatselection">
        <div class="row">
            <h1>Rajahumdry to kakinada</h1>
            <p>AP XXXX</p>
        </div>
    </a>
        <a  routerLink="/seatselection">
        <div class="row">
            <h1>Rajahumdry to kakinada</h1>
            <p>AP XXXX</p>
        </div>
    </a>
        <a  routerLink="/seatselection">
        <div class="row">
            <h1>Rajahumdry to kakinada</h1>
            <p>AP XXXX</p>
        </div>
    </a>
    </div>
</div>